@import url(https://fonts.googleapis.com/css?family=Satisfy%7CPathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400,300);





/*<link rel= "stylesheets" type="text/css" href= "stylesheets/buttons.css">*/






body {
 background-color: #677c8a;
 text-align: center;
 align-content: center;
 padding-top: 20px;
 font-family: 'Raleway';
 font-size: 20pt;
 color: #fff;
 width: 500px;
 margin: auto;
}

h1 {
 font-family: "Raleway";
 font-size: 55pt;
}

h2 {
 font-family: "Satisfy";
 font-size: 40pt;
}

head {
 color:#fff;
}

form {
 align-content: center;
 text-align: center;
 color: #fff;
}

.buttons {
   color: #fff;
   background: #228384;
   border: 7px solid #009688;
   font-size: 28px;
   padding: 7px 12px;
   font-weight: normal;
   margin: 6px 0;
   margin-right: 12px;
   display: inline-block;
   text-decoration: none;
   font-family:"Satisfy" ;
   min-width: 120px;
   align-content: center;
}

.buttons:hover, .buttons:active {
 color:#fff;
 background:#009688;
 text-decoration: none;
 align-content: center;
}

 