<html>
 <!--over 18 and experienced -->
<head>
<link href="https://fonts.googleapis.com/css?family=Bad+Script%7CHeebo%7CMegrim%7CSacramento" rel="stylesheet">



<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">

<meta charset="UTF-8">
<title>Ties</title>

</head>

<body>
<div class="container">
  <div class="blocks">
    <h1 style="color:white">18+ unexperienced</h1>
    <section><h2>Programs</h2>
    <form >
         <a href= https://skillcrush.com target="_blank" class="buttons">skillcrush</a>
       <p> skillcrush offers you a job and figuring out if coding and designing is for you! plus you are able to work from the comfort of your home. </p>
     </form>
     
     <form> 
     <a href=https://www.bloc.io target="_blank" class= "buttons"
     >bloc.io</a>
     <p>Bloc.io offers structured, online training programs in software development and design for career-minded adults with busy lives. </p>
     </form>
  
     
     </section>
    </div>
   </div>
   </body>
</html>