<!doctype html>
<html>
<header>
  <title>Körfu</title>
</header>
<head>
 <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
 <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">  
 <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet">
 </head>
  <body>
 <h1> Körfu </h1>
  <nav class="menu">
  <ol>
   <li class="menu-item"><a href='/'>Home</a></li>
   <li class="menu-item"><a href='index.erb'>Start Shopping</a></li>
   <li class="menu-item"><a href='tj.erb'>Contact</a></li>
  </ol>
  </nav>
 

<!--consumer start-->
<section class="background-image">
   <section1>
     <a class="section1" href='index.erb'><h2>I want to Buy!</h2></a>
   </section1>
   
<!--seller start-->
   <section2>
     <a class="section2" href="link"><h2>I want to Sell!</h2></a>
   </section2>
</section>

<!--another purpose goal info thing-->
   <section3>
     <h3>“Imagine walking out of a grocery store with four bags of groceries, dropping one in the parking lot, and just not bothering to pick it up. That’s essentially what we’re doing.” -Dana Gunders</h3>
   </section3>
   
   <section4>
     <h3>Food and Agriculture Scientist with the Natural Resources Defense Council</h3>
   </section4>
   
<!--more info at bottom-->
   <section5>
     <h2><bold>Our Mission:</bold></h2>
   </section5>
   
   <section6>
     <h3>We believe no produce should go to waste. That's why we're commited to giving stores another opportunity to sell their produce, and you the opportunity to buy discounted produce of the same quality!</h3>
   </section6>
   
   <section7>
     <img src="https://makeasmartcity.files.wordpress.com/2016/06/foodwaste_infographic.png?w=809
https://makeasmartcity.files.wordpress.com/2016/06/foodwaste_infographic.png?w=809
" width="75%" height="75%">
   </section7>
   
   <section8>
     <h2>135 million tons of food in America is wasted every year. This amounts to over $165 billion worth of food being wasted each year, but also 25% of all fresh water and huge amounts of energy and land being wasted. This buildup of waste accounts for 16% of U.S. methane emissions and large amounts of chemicals for food processing being used unnecessarily. Just reducing food waste by 15% could feed more than 25 million Americans every year!</h2>
   </section8>
   
<!--background image-->
   <!--<section9>-->
   <!--  <background-image url="https://image.freepik.com/free-photo/vegetables-with-a-chopping-board_1147-373.jpg
https://image.freepik.com/free-photo/vegetables-with-a-chopping-board_1147-373.jpg
">-->
   <!--</section9>-->
   
 </body>
 
</html>