<!DOCTYPE html>

<html>
 <!--over 18 and unexperienced -->
<head>
<link href="https://fonts.googleapis.com/css?family=Bad+Script%7CHeebo%7CMegrim%7CSacramento" rel="stylesheet">

 <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<meta charset="UTF-8">
<title>Ties</title>

</head>

<body>
<div class="container">
  <div class="blocks">
    <h1 style="color:white">18+ unexperienced</h1>
    <section><h2>Programs</h2>
    <form >
         <a href= http://techrocks.org target="_blank" class="buttons">Tech Rocks</a>
       <p>Tech rocks offers a lot of opportunities for example after school coding classes, and even a day camp. </p>
     </form>
     
     <form> 
     <a href=https://hackdesign.org/lessons target="_blank" class= "buttons"
     >hackdesign.org</a>
     <p> Hackdesign offers lessons from how to learn how to design data, website, virtual reality etc. All with coding.</p>
     </form>
     
     <form> 
     <a href= https://generalassemb.ly/education/learn-html-css-web-design-online#information-modal  target= "_blank" class="buttons" > generalassemb.ly </a> 
     <p> General assembly will teach you many things as in how to code html,css,and web design.</p>
     </form>
     
     <form> 
     <a href=https://generalassemb.ly/education/learn-javascript-online    target="_blank"  class= "buttons" > 
     javascript circuit </a>
     </form>
     <p> This site is great for those who would love to learn how to use javascript. They help you build sophisticated websites, add front-end interactivity etc.</p>
     
     </section>
    </div>
   </div>
   </body>
</html>