<!Doctype HTML>
<html>
  
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet">
</head>
<h1> Körfu </h1>
<nav class="menu">
  <ol>
   <li class="menu-item"><a href='/'>Home</a></li>
   <li class="menu-item"><a href='index.erb'>Start Shopping</a></li>
   <li class="menu-item"><a href='tj.erb'>Contact</a></li>
  </ol>
  </nav>

<header>
  <title>Körfu</title>
</header>

<h2>Store Near You:<a href="tj.erb">Trader Joe's</a></h2>

<section1>
<h3>Tomato</h3> 
<text>Price:$0.75/lb</text>
<p>Was $1.50/lb</p>
<img src="https://images.homedepot-static.com/productImages/8ff6e702-8ee9-4387-a2fd-0b4e076a4c9e/svn/bonnie-plants-vegetable-plants-0201-64_1000.jpg"height=300px width=300px />
</section1>



<section2>
  <h3>Organic Yellow Zucchini</h3> 
<text>Price:$0.50 each</text>
<p>Was $1.70 each</p>
<img src="https://cmeimg-a.akamaihd.net/640/clsd/getty/1355d06af4d040579ff2df4fb0a1dd02.jpg"height=300px width=300px />
</section2>

<section3>
  <h3>Blueberries</h3> 
<text>Price:$3.25 per quart</text>
<p>Was $6.00 per quart</p>
<img src="https://cuesa.org/sites/default/files/styles/scale_610px/public/sierra_cascade_blueberries.JPG?itok=eKFYGnb9"height=300px width=300px />
</section3>

<section4>
<h3>Avocado</h3> 
<text>Price:$0.50 each</text>
<p>Was $1.00 each</p>
<img src="http://1.bp.blogspot.com/-f_OAAIFL7tg/URwFMc1_RfI/AAAAAAAAAIc/V6MbM43qFEE/s1600/IMG_3705.JPG"height=300px width=300px />
</section4>

</html>